.container
    max-width: 960px
    margin: auto

.link
    color: #fff
    text-transform: uppercase
    &:hover
        text-decoration: underline
        color: #fff

.link-button
    &:hover
        text-decoration: none
        color: #fff

.button
    @include button

.section_header
    text-align: center
    font-size: 30px
    color: black
    text-transform: uppercase
    