.slider
    padding-top: 100px
    padding-bottom: 80px
    .slider__inner
        max-width: 800px
        margin: auto
    

.carousel-item 
    transition: 0.5s
    height: 400px
  

.carousel-item img
    margin: auto
    height: 100%


.carousel-control-prev-icon
    background-image: url('../img/img-chevron-left.png')


.carousel-control-next-icon
    background-image: url('../img/img-chevron-right.png')



.carousel-control-prev-icon, .carousel-control-next-icon
    width: 1.5em
  

.carousel-control-prev, .carousel-control-next
    opacity: 0.9


            



