.slider
    .slider__inner
        max-width: 800px
        margin: auto
    

.slider__inner .slider-image
    display: block
    max-width: 750px
    width: 100%
    margin: auto


.slick-next
    right: -40px
    top: 50%
    transform: translateY(-150%)

.slick-prev
    left: -50px
    top: 50%
    transform: translateY(-150%)


            



